.page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 10px;
  min-height: 300px;
    h2 {
      padding: 0 40px 0 0;
    }
  .search-container {
    margin: 0 auto;
    input {
      border: 2px solid black;
      height: 30px;
      width: 250px;
      text-align: center;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    button {
      width: 50px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .add-new-container {
    position: fixed;
    top: 160px;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.589);
    border-top-left-radius: 22px;
    width: 340px;
    align-self: flex-end;
    transition: 0.5s;
    right: -347px;
    background-color: white;
      .fas {
        position: relative;
        font-size: 40px;
        margin: 0 0 10px 0;
        cursor: pointer;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.863);
        transition: 0.5s;
      }
      .close {
        right: 55px;
      }
      .open {
        animation: rotate-open-close 0.5s linear;
        text-shadow: none;
        right: 0;
      }
    .add-new-form {
      display: flex;
      flex-direction: column;
      padding: 0 10px 10px 10px;
      input, textarea {
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
      }
      .text-container {
        min-height: 70px;
      }
      button {
        width: 100px;
        margin: 0 auto;
        border-radius: 15px;
      }
    }
  }
  .open-new-container {
    right: 0px;
  }
  .todo-container {
    position: relative;
    width: 90%;
    margin: 30px auto 0 auto;
    background-color: rgb(221, 221, 221);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.74);
    h3 {
      margin: 0;
      padding: 0 0 5px 0;
      border-bottom: 2px dashed black;
    }
    .fas {
      position: absolute;
      top: -19px;
      transform: rotate(45deg);
      font-size: 20px;
      cursor: pointer;
    }
  }
}
@keyframes rotate-open-close {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(720deg)}
}