.page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 20px 0px 20px 10px;
  min-height: 300px;
  .search-container {
    margin: 0 auto;
    input {
      border: 2px solid black;
      height: 30px;
      width: 250px;
      text-align: center;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    button {
      width: 50px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .add-new-container {
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.589);
    border-top-left-radius: 22px;
    width: 340px;
    align-self: flex-end;
      .fas {
        font-size: 40px;
        margin: 0 0 10px 0;
        cursor: pointer;
      }
    .add-new-form {
      display: flex;
      flex-direction: column;
      padding: 0 10px 10px 10px;
      input, textarea {
        margin: 0 0 10px 0;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
      }
      .text-container {
        min-height: 70px;
      }
      button {
        width: 100px;
        margin: 0 auto;
        border-radius: 15px;
      }
    }
  }
}