.change-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  input, textarea {
    width: 340px;
    margin: 10px auto;
    border-radius: 15px;
    border: none;
    padding: 7px;
    &:focus {
      background-color: rgb(192, 192, 192)
    }
  }
  input {
    font-size: 1.6em;
    font-weight: bold;
  }
  textarea {
    min-height: 70px;
    font-size: 1.2em;
  }
  button {
    width: 150px;
    margin: 0 auto;
    padding: 7px;
    border-radius: 10px;
  }
}


.fa-arrow-alt-circle-left {
  font-size: 50px;
  color: black;
}