.header {
  width: 100%;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  .fas {
    margin: 0 20px 0 0;
    font-size: 1.2em;
  }
  p {
    margin: 0;
    color: rgb(185, 185, 185);
    span {
      margin: 0 0 0 10px;
      color: white;
      font-size: 1.5em;
    }
  }
}